Package: com.galacticdev.notfinical
Name: NotFinical
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
